/* #wrapper {
  padding-left: 100px;
  transition: all 0.4s ease 0s;
} */

#about-links ul li {
   display: inline-block;;
}

#landingTabs li {
   display: inline-block;
   margin: 30px 0 0 0;
   padding: 0 0 0.3em 0;
}

#landingTabs li a {
   background-color: #DEDBDE;
   border: 1px solid #000;
   border-bottom: none;
   padding: 0.3em;
   text-decoration: none;
}

#geoSelect {
   display:block;
   margin: 0 0 10px 0;
}

#graphsContainer {
   height: 750px;
   margin: 0 auto;
   border: 1px solid #000;
   padding: 0.5em;
   background-color: #F1F0ee;
}

div.chartsContainer.hide {
   display: none;
}

#sidebar-wrapper {
  background: #CCC;
  overflow-y: auto;
}

#sidebar-wrapper select {
   margin: 10px 0px;
}

.sidebar-nav {
  position: absolute;
  list-style: none;
}

.seriesTable {
   margin: 0 auto;
}

.seriesTable th, td {
   padding: 0 1em 0.5em 0;
   text-align: center;
}
